@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);

}
body {
    box-sizing: border-box;
    background: var(--red) url('/images/bg-intro-desktop.png');
    color: white;
    height: 100vh;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
main {
    margin: 10vh auto;
    max-width: 80vw;
    display: grid;
    gap:20px;
    grid-template-areas: "copy signup";
    grid-auto-flow: column;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto; */
}

/* copy section */

.copy{
    max-width: 38vw;
    grid-area: copy;
}
.copy h1{
    font-size: 3rem;
    line-height: 3.4375rem;
}
/* signup section */
.signUp {
    grid-area: signup;
    display: grid;
    grid-template-rows: 60px 1fr;
    gap:20px;
}
/* alert */
.alert{
    background: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 8px 1px rgba(0,0,0,0.2);
    /* padding-top: 10px;
    padding-bottom: 10px; */
    text-align: center;
}
.alert em{
    font-style: normal;
    font-weight: 700;
}
/* form */
.form {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5,56px) auto;
    gap:20px;
}

.form-controll{
    box-sizing: border-box;
    border: 1px solid var(--grayishBlue);
    border-radius: 5px;
    overflow: hidden;
    width:100%;
    display: grid;
    grid-template-columns: auto 24px;
    align-items: center;
    padding-left:12px;
    padding-right:12px;
}
.form-controll input {
    border:none;
    font-family: inherit;
    height: 100%;
}
.form-controll img {
    visibility: hidden;
}
.form-controll.error {
    border-color: var(--red);
    border-width: 2px;
}
.form-controll.error img {
    visibility: visible;
}

.form button {
    background: var(--green);
    font-family: inherit;
    color:inherit;
    border:none;
    border-radius: 5px;
    box-shadow: inset -3px -3px 1px rgba(0,0,0,0.2);
}
.terms{
    color: var(--grayishBlue)
}
.terms a{
    color: var(--red)
}
/* Attribution */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width:800px){
    body{
        background: var(--red) url('/images/bg-intro-mobile.png');
        text-align: center;
    }
    main{
        grid-template-areas: 
            "copy""signUp";
        grid-template-columns: auto;
    }
}